{% extends 'base.html' %}

{% block content %}
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        </ul>
    {% endif %}

    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
<a href="{% url 'polls:results' question.id %}">
    <button class="button">See Result</button>
</a>
<br><br>
<a href="{% url 'polls:index'%}">Back to List of Polls</a>
{% endblock content %}
