{% extends 'base.html' %}


{% block content %}

<style>
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #ffffff;
    }
    .status-open {
        color: green;
        font-weight: bold;
    }

    .status-closed {
        color: red;
        font-weight: bold;
    }
</style>

<h1>{{ "KU Polls" }}</h1>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            {% if question.can_vote %}
                <span class="status-open">Open</span>
            {% else %}
                <span class="status-closed">Closed</span>
            {% endif %}
            <a href="{% url 'polls:results' question.id %}">
                <button class="button">See Result</button>
            </a>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock content %}