li a {
    color: black;
}
body {
    background: white url("images/background.png") no-repeat;
    background-size: cover;
}
.white-box {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}